.App {
  /* text-align: center; */
  font-family: 'Rubik',sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.headers{
  height: 109vh;
  padding: 24px;
  margin-top: -60px;
}


/* styling for Header.jsx */
@media screen and (max-width: 730px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }
  .header-container-left{
    width: 50%;
  }
  .header-container-right{
    width: 100%;
  }
}

/* styling for About.jsx */
@media screen and (max-width: 800px) {
  .about-container-middle {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .about-container-lower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .about-container-lower .lower-left{
    width: 100%;
  }
  .about-container-lower .lower-right{
    width: 100%;
  }
}

/* styling for Services.jsx */
@media screen and (max-width: 800px) {
  .service-container-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .service-container-middle div{
    width: 70%;
    margin: 6px 0px;
  }
  .service-container-lower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .service-container-lower div{
    width: 70%;
    margin: 6px 0px;
  }
}

/* styling for Features.jsx */
@media screen and (max-width: 800px) {
  .feature-container-lower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 24px 0px;
  }
  .feature-subcontainer2{
    display: flex;
    flex-direction: column;

  }
  .feature-subcontainer2 div{
    width: 100%;
  }
  .feature-container-lower div{
    width: 70%;
    text-align: center;
    margin: 0px;
  }
}

/* styling for Features.jsx */
@media screen and (max-width: 800px) {
  .links .ul{
    display: flex;
    flex-direction: column;
    height: 40px;
  }
}